{#{% extends "CVThequeBundle::layout.html.twig" %} #}
{% extends '::base.html.twig' %}

{% block title %}
    Recherche d'annonce
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Recherche d'annonce</h1>
        {#        <div class="lead"></div>#}
    </div>
{% endblock %}

{% block content %}

    <div class="list-user container">
        <div class="bloc row">{{ form(form)  }}</div>

        {% for advertisement in advertisements %}
        {% if advertisement.published %}

            <a class="bloc list-user-row row" href="{{ path('show_advert', {'slug': advertisement.slug}) }}">
                {#<div class='col-md-1 user-avatar'>
                    <img {% if advertisement.image is not null %}src="{{ advertisement.image.webPath }}" alt="{{ advertisement.image.alt }}"{% endif %} />
                </div>#}
                <div class='col-md-4 user-name'>
                    <span class='user-firstname'>{{ advertisement.society.username }}</span> 
                    <span class='user-username'>{{ advertisement.author }}</span>
                </div>
                <div class='col-md-2'>
                    {{ advertisement.title }}
                </div>
                <div class='col-md-2 user-category'>
                    <span class='tag'>{{ advertisement.category.name }}</span>
                </div>
                <div class='col-md-1'>
                    <span class='icon-bloc {% if advertisement.published %}primary{% else %}error{% endif %}'>
                        Publiée
                        <span class='spinner-box'>
                            <span class='icon l-white glyphicon {% if advertisement.published %}glyphicon-ok{% else %}glyphicon-remove{% endif %}'></span>
                        </span>
                    </span>
                </div>
                <div class='col-md-3'>
                    Créé le {{ advertisement.created|date('d/m/Y') }}, màj le {{ advertisement.updated|date('d/m/Y') }}
                </div>
            </a>

        {% endif %}
        {% else %}
            {% if advertisements is not null %}
                <div class="bloc list-user-row row text-center">
                    La recherche n'a donné aucun résultat.
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}