{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Nitram Treblig">
        <title>{% block title %}CVthèque {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    <body>

        {% set first_access = app.request.get('_route') == 'homepage' and not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% set route = app.request.get('_route') %}

        <section class="main-content{% if first_access %} no-header{% endif %}">

            <a href="#content" class="sr-only sr-only-focusable">Passer au contenu principal</a>

            <header id="header" class="header">
                {% if not first_access %}
                    <nav class="header-content container">
                        <a class="logo nav-item" href="{{ path('homepage') }}">CVthèque</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_advert_show') }}" class="nav-item{% if route == 'admin_advert_show' %} active{% endif %}">Annonces</a>
                            <a href="{{ path('mg_admin_show_applicants_not_validate') }}" class="nav-item{% if route == 'mg_admin_show_applicants_not_validate' %} active{% endif %}">Étudiants non validés</a>
                            <a href="{{ path('mg_admin_show_applicants_validate') }}" class="nav-item{% if route == 'mg_admin_show_applicants_validate' %} active{% endif %}">Étudiants validés</a>
                            <a href="{{ path('mg_admin_show_societys') }}" class="nav-item{% if route == 'mg_admin_show_societys' %} active{% endif %}">Entreprises</a>
                            
                        {% else %}
                            {% if is_granted('ROLE_SOCIETY') %}
                                <a class="nav-item{% if route == 'add_advert' %} active{% endif %}" href="{{ path('add_advert') }}">Ajouter une annonce</a>
                            {% endif %}
                        {% endif %}

                        <span class="nav-right">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <span class="compte nav-item{% if route == 'mg_user_show' %} active{% endif %}">
                                    <a class="compte-pseudo" href="{{ path('mg_user_show') }}">{{ app.user.username }}</a>
                                    <a class="deco mini-but" href="{{ path('fos_user_security_logout') }}">
                                        <span class="sr-only sr-only-focusable">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                                        <span class='glyphicon glyphicon-off'></span>
                                    </a>
                                </span>
                            {% endif %}
                        </span>
                    </nav>
                {% endif %}
            </header>

            <main id="content" class="body-content" role="main" >
                <div class="bandeau dark">
                    <div class="container">
                        {% block bandeau %}
                        {% endblock %} 
                    </div>
                </div>

                <div class="container page-content">
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block content %}
                    {% endblock %} 
                </div>
            </main>

            <footer id="footer" class='footer dark' style="opacity: 0;">
                <div class="container">
                    <div class='row d-table'>
                        <div class='col-md-8 d-table-el {#vertical-center-parent#}'>
                            <div class='{#vertical-center-child#}'>
                                Copyright © {{ 'now'|date('Y') }} Université Paris 13. Tous droits réservés.<br/>
                                <br/>
                                Site web commandé par <b>Sylvie CARDOSO</b><br/>
                                Coordinatrice des stage à l'IUT de Villetaneuse<br/>
                                <br/>
                                tél. 01 49 40 31 19<br/>
                                <a href="mailto:sylvie.cardoso@univ-paris13.fr">sylvie.cardoso@univ-paris13.fr</a>
                            </div>
                        </div>
                        <div class='col-md-4 d-table-el'>
                            <a href="https://www.univ-paris13.fr/" target="_blank">
                                <img class='univ-logo' src='{{ asset('img/logo/logo_univ_paris13_uspc.png') }}' alt="Logo de l'université Paris 13 et de la Sorbonne"/>
                            </a><br/>
                            Université Paris 13 - IUT de Villetaneuse<br/>
                            Centre des Relations Extérieures pour l'Insertion Professionnelle<br/>
                            99, Avenue Jean-Batiste Clément - 93430 Villetaneuse<br/>
                            <br/>
                            <a href="http://www.univ-paris13.fr" target="_blank">www.univ-paris13.fr</a><br/>
                            <a href="http://www.iutv.univ-paris13.fr" target="_blank">www.iutv.univ-paris13.fr</a>
                        </div>
                    </div>
            </footer>
        </section>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
