{{ form_start(form, {'method': 'post', 'action': path('mg_applicant_registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.address.street) }}
    {{ form_row(form.address.zipCode) }}
    {{ form_row(form.address.town) }}
    {{ form_row(form.address.country) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.titleProfile) }}
    {{ form_row(form.description) }}
    <h3>{{ 'form.hobbies'|trans({}, 'MGUserBundle') }}</h3>
    <ul class="hobbys"
        data-prototype="{{ form_widget(form.hobbies.vars.prototype)|e('html_attr') }}">
    {% for hobby in form.hobbies %}
    <li>
        {{ form_row(hobby.name) }}
    </li>
    {% endfor %}
    
    </ul>
    
    {{ form_row(form.image) }}
    
    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
{{ form_end(form) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" charset="UTF-8" >
var $collectionHolder;
var $addHobbyLink = $('<a href="#" class="add_hobby_link">{{ 'form.hobby.add_button'|trans({}, 'MGUserBundle') }}</a>');
var $newLinkLi = $('<li></li>').append($addHobbyLink);
jQuery(document).ready(function() {
    $collectionHolder = $('ul.hobbys');
    $collectionHolder.data('index', $collectionHolder.find(':input').length);
    if ($collectionHolder.data('index') > 0) { 
        $collectionHolder.find('li').each(function() {
            addHobbyFormDeleteLink($(this));
        });
    }
    $collectionHolder.append($newLinkLi );
    $addHobbyLink.on('click', function(e) {
        e.preventDefault();
        addHobbyForm($collectionHolder, $newLinkLi);
    });
});

function addHobbyForm($collectionHolder, $newLinkLi) {
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');
    var newForm = prototype.replace(/__name__/g, index);
    $collectionHolder.data('index', index + 1);
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    addHobbyFormDeleteLink($newFormLi);
}

function addHobbyFormDeleteLink($hobbyFormLi) {
    var $removeFormA = $('<a href="#">{{ 'form.hobby.del_button'|trans({}, 'MGUserBundle') }}</a>');
    $hobbyFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        e.preventDefault();

        $hobbyFormLi.remove();
    });
}
</script>