{% extends '::base.html.twig' %}

{% block bandeau %}
    <div class="row">
        <h1>Inscription - Étudiant</h1>
        <div class="lead">Remplissez les différents champs demandés.</div>
    </div>
{% endblock %}

{% block content %}

    {{ form_start(form, {'method': 'post', 'action': path('mg_applicant_registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <script>var FORM = 'fos_user_registration_form';</script>

    <div class='bloc'>
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
    </div>

    <div class='bloc'>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.address.street) }}
        {{ form_row(form.address.zipCode) }}
        {{ form_row(form.address.town) }}
        {{ form_row(form.address.country) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.category) }}
    </div>

    <div class='bloc'>
        {{ form_row(form.titleProfile) }}
        {{ form_row(form.description) }}
    </div>

    <div class='bloc'>
        <label>{{ 'form.educations'|trans({}, 'MGUserBundle') }}</label>
        <div class="educations" 
             data-prototype="{{ form_widget(form.educations.vars.prototype)|e('html_attr') }}"
             data-educations='[
             {% for e in form.educations %}
                 {"fromDate": "{{ e.vars.value.fromDate|date('Y-m-d') }}",
                 "toDate": "{{ e.vars.value.toDate|date('Y-m-d') }}",
                 "school": "{{ e.vars.value.school }}",
                 "degree": "{{ e.vars.value.degree }}"}
                 {% if not loop.last %},{% endif %}
             {% endfor %}
             ]'>

            <div class='educations-content'></div>

            <div>
                <button id='educations-add' class='but'>Ajouter une formation <span class='glyphicon glyphicon-plus'></span></button>
            </div>

        </div>
    </div>

    <div class='bloc'>
        <label>{{ 'form.workExperiences'|trans({}, 'MGUserBundle') }}</label>
        <div class="works" 
             data-prototype="{{ form_widget(form.workExperiences.vars.prototype)|e('html_attr') }}"
             data-works='[
             {% for w in form.workExperiences %}
                 {"fromDate": "{{ w.vars.value.fromDate|date('Y-m-d') }}",
                 "toDate": "{{ w.vars.value.toDate|date('Y-m-d') }}",
                 "jobTitle": "{{ w.vars.value.jobTitle }}",
                 "description": "{{ w.vars.value.description }}",
                 "employer": "{{ w.vars.value.employer }}"}
                 {% if not loop.last %},{% endif %}
             {% endfor %}
             ]'>

            <div class='works-content'></div>

            <div>
                <button id='works-add' class='but'>Ajouter une expérience professionnelle <span class='glyphicon glyphicon-plus'></span></button>
            </div>

        </div>
    </div>

    <div class='bloc'>
        <label for="ip_skills">{{ 'form.skills'|trans({}, 'MGUserBundle') }}</label>
        <div class="skills form-group" 
             data-name='skills' 
             data-supp='Supprimer la compétence' 
             data-skills='[{% for skill in form.skills %}"{{ skill.vars.value.name }}"{% if not loop.last %},{% endif %}{% endfor %}]'>

            <div class="skills-content tag-content" aria-live="polite">
                <div class="field inline skills-add">
                    <span class="sr-only sr-only-focusable">Entrez votre compétence puis appuyez sur Entrée pour l'ajouter</span>
                    <input type="text" id="ip_skills" minLength="2" maxLength="255" />
                    <span class='field-feedback form-control-feedback'><span class='glyphicon'></span></span>
                </div>
            </div>

        </div>

        <label for="ip_skills">{{ 'form.hobbies'|trans({}, 'MGUserBundle') }}</label>
        <div class="skills form-group" 
             data-name='hobbies' 
             data-supp='Supprimer le passe-temps' 
             data-skills='[{% for hobby in form.hobbies %}"{{ hobby.vars.value.name }}"{% if not loop.last %},{% endif %}{% endfor %}]'>

            <div class="skills-content tag-content" aria-live="polite">
                <div class="field inline skills-add">
                    <span class="sr-only sr-only-focusable">Entrez le centre d'intérêt puis appuyez sur Entrée pour l'ajouter</span>
                    <input type="text" id="ip_skills" minLength="2" maxLength="255" />
                    <span class='field-feedback form-control-feedback'><span class='glyphicon'></span></span>
                </div>
            </div>

        </div>

        {{ form_row(form.image) }}

        {{ form_widget(form._token) }}
    </div>

    <div class="form-group">
        <button type="submit" class="but d-block primary">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
