{% extends "CVThequeBundle::layout.html.twig" %} 
{% block title %}Annonces{% endblock %} 
{% block body %}
<h3>Les dernières annonces</h3>
<ul class="list-group">
  {% for advertisement in advertisements %}
    <li class="list-group-item"><a href="{{ path('show_advert', {'slug': advertisement.slug}) }}" >{{ advertisement.title }}</a>
      <div class="badge"><i>Par {{ advertisement.author }}, le {{ advertisement.created|date('d/m/Y') }}</i></div>
    </li>
  {% else %}
  <p>Il n'y a pas d'annonce dans la base de données.</p>
  {% endfor %}
</ul>
{% if nb_page > 1 %}
<div>
  <h4>Pages :</h4>
  <ul class="pagination">
  {% for p in range(1, nb_page) %}
    {% if p == page %}
      <li class="active"><a href="{{ path('admin_advert_show', {'page': p}) }}">{{ p }}</a></li>
    {% else %}
      <li><a href="{{ path('admin_advert_show', {'page': p}) }}">{{ p }}</a></li>
    {% endif %} 
  {% endfor %}
  </ul>
</div>
{% endif %} 
{% endblock %}