{#{% extends "CVThequeBundle::layout.html.twig" %}#}
{% extends '::base.html.twig' %}

{% block title %}
    Supprimer une annonce - {{ parent() }} 
{% endblock %} 

{% block bandeau %}
    <div class="row">
        <h1>Suppression d'une annonce : {{ advertisement.title }}</h1>
        <div class="lead">Action irréversible. Êtes-vous sûr de ce que vous faites ?</div>
    </div>
{% endblock %}

{% block content %}
    <form action="{{ path('delete_advert', {'id': advertisement.id}) }}"	method="post">
        <a href="{{ path('mgblog_show', {'slug': advertisement.slug}) }}" class="but">
            Retour à l'annonce
        </a>
        <input type="submit" value="Confirmer la suppression" class="but error" />
        {{ form_rest(form) }}
    </form>
{% endblock %}