<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.author) }}
    {{ form_row(form.image.file) }}
    {{ form_row(form.image.alt) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    
    <h3>{{ 'form.advertSkills'|trans({}, 'CVThequeBundle') }}</h3>
    <ul class="advertSkills"
        data-prototype="{{ form_widget(form.advertSkills.vars.prototype)|e('html_attr') }}">
    {% for skill in form.advertSkills %}
    <li>
        {{ form_row(skill.name) }}
    </li>
    {% endfor %}
    </ul>
    
    {{ form_row(form.published) }}
    {% if form.created is defined %}
      {{ form_row(form.created) }}
    {% endif %}
    {{ form_row(form.updated) }}
    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
    {{ form_row(form.save) }}
    
  {{ form_end(form) }}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" charset="UTF-8" >
var $collectionHolder;
var $addSkillLink = $('<a href="#" class="add_skill_link">{{ 'form.skill.add_button'|trans({}, 'CVThequeBundle') }}</a>');
var $newLinkLi = $('<li></li>').append($addSkillLink);
jQuery(document).ready(function() {
    $collectionHolder = $('ul.advertSkills');
    $collectionHolder.data('index', $collectionHolder.find(':input').length);
    if ($collectionHolder.data('index') > 0) { 
        $collectionHolder.find('li').each(function() {
            addSkillFormDeleteLink($(this));
        });
    }
    $collectionHolder.append($newLinkLi );
    $addSkillLink.on('click', function(e) {
        e.preventDefault();
        addSkillForm($collectionHolder, $newLinkLi);
    });
});

function addSkillForm($collectionHolder, $newLinkLi) {
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');
    var newForm = prototype.replace(/__name__/g, index);
    $collectionHolder.data('index', index + 1);
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    addSkillFormDeleteLink($newFormLi);
}

function addSkillFormDeleteLink($skillFormLi) {
    var $removeFormA = $('<a href="#">{{ 'form.skill.del_button'|trans({}, 'CVThequeBundle') }}</a>');
    $skillFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        e.preventDefault();

        $skillFormLi.remove();
    });
}
</script>