{% extends 'base.html.twig' %}

{% block body %}
    <h1>Candidature</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom d'utilidateur</th>
                <td>{{ application.candidate.username }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ application.body }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if application.created %}{{ application.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if application.updated %}{{ application.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}