{% extends '::base.html.twig' %}

{% block title %}
    Candidature par {{ application.candidate.username }}
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Candidature par {{ application.candidate.username }}</h1>
        <div class="lead">
            {% if application.created %}
                Créée le {{ application.created|date('Y-m-d H:i:s') }}
                {% if application.updated %}, màj le {{ application.updated|date('Y-m-d H:i:s') }}{% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 colonne">

                <div class="row">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer" class='but d-block d-block' />
                    {{ form_end(delete_form) }}
                </div>
                <hr/>
                <div class="row">
                    <a href="{{ path('application_index') }}" class="but d-block">Retour à la liste des candidatures</a>
                </div>

            </div>

            <div class="col-md-9">

                <div class='bloc'>
                    {{ application.body }}
                </div>

            </div>

        </div>
    </div>

{% endblock %}