{% extends '::base.html.twig' %}

{% block bandeau %}
    <div class="row">
        <h1>Modification de profil - Administrateur</h1>
        <div class="lead">Remplissez les champs que vous souhaitez modifier.</div>
    </div>
{% endblock %}

{% block content %}

    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <script>var FORM = 'fos_user_profile_form';</script>

    <div class='bloc'>
        {{ form_row(form.address.street) }}
        {{ form_row(form.address.country) }}
        {{ form_row(form.address.town) }}
    </div>

    {{ form_widget(form._token) }}

    <div class="form-group">
        <button type="submit" class="but d-block primary">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
