{% block content %}
  <div class="fos_user_user_show">
    <div style="float: left; margin-right: 1em;">
      {% if user.image is not null %}
        <img src="{{ user.image.webPath }}" alt="{{ user.image.alt }}" height="60">
      {% endif %}
    </div>
    <h1>{{ 'profile.show.societyName'|trans({'%societyName%': user.societyName }, 'MGUserBundle') }}</h1>
    <h2>{{ 'profile.show.country'|trans({'%country%': user.address.country|country }, 'MGUserBundle') }}</h2>
    
    <h3>
      Description 
    </h3>
    
    <article class="well" style="clear: both;">
      {{ user.description|markdown }}
    </article>

      <!-- Infos de contact de l'entreprise -->
    <h3> Nous contacter </h3>
    <div class="bloc">

      {% if user.email %}
        <p> Par email : {{ user.email }} </p>
      {% endif %}

      {% if user.phoneNumber %}
        <p> Par téléphone : {{ user.phoneNumber }} </p>
      {% endif %}

    </div>

    <hr/>

    {% if user.id == app.user.id %}
      <div class="row">
        <a href="{{ path('mg_user_profile_picture_edit') }}" class="but col-xs-2">
          Modifier la photo
        </a>
      </div>
      <div class="row">
        <a href="{{ path('fos_user_profile_edit') }}" class="but d-block primary">
          Modifier le profil
        </a>
      </div>
      <div class="row">
        <a href="{{ path('mg_user_profile_delete') }}" class="but d-block error">
          Supprimer 
        </a>
      </div>

    <hr/>

    {% endif %}
    <p>{{ 'profile.show.created'|trans({'%date%': user.created|localizeddate('full', 'none')}, 'MGUserBundle') }}</p>
    <p>{{ 'profile.show.updated'|trans({'%date%': user.created|localizeddate('full', 'none')}, 'MGUserBundle') }}</p>    
  </div>

{% endblock %}