{#{% extends 'CVThequeBundle::layout.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}
    Domaines d'étude
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Domaines d'étude</h1>
        <div class="lead">Liste des domaines d'étude</div>
    </div>
{% endblock %}

{% block content %}

    <div class="list-user container">

        <div class="bloc list-user-head list-user-row row">
                <div class='col-md-1' title='Identifiant'>
                    Identifiant
                </div>
                <div class='col-md-7'>
                    Nom
                </div>
                <div class='col-md-4'>
                    Actions
                </div>
        </div>

        {% for category in categories %}

            <div class="bloc list-user-row row">
                <div class='col-md-1'>
                    {{ category.id }}
                </div>
                <div class='col-md-7'>
                    {{ category.name }}
                </div>
                <div class='col-md-2'>
                    <a href="{{ path('admin_category_show', { 'id': category.id }) }}" class="but">Afficher</a>
                </div>
                <div class='col-md-2'>
                    <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="but">Modifier</a>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="text-center">
        <a href="{{ path('admin_category_new') }}" class="but">Créer un nouveau domaine d'étude</a>
    </div>
{% endblock %}
