{#{% extends 'CVThequeBundle::layout.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>{{ category.name }}</h1>
        <div class="lead">Affichage</div>
    </div>
{% endblock %}

{% block content %}

    <div class="list-user container">

        <div class="bloc list-user-head list-user-row row">
            <div class='col-md-1'>
                Identifiant
            </div>
            <div class='col-md-7'>
                Nom
            </div>
            <div class='col-md-4'>
                Actions
            </div>
        </div>

        <div class="bloc list-user-row row">
            <div class='col-md-1'>
                {{ category.id }}
            </div>
            <div class='col-md-7'>
                {{ category.name }} 
            </div>
            <div class='col-md-2'>
                <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="but">Modifier</a>
            </div>
            <div class='col-md-2'>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="but error" />
                {{ form_end(delete_form) }}
            </div>
        </div>

    </div>

    <div>
        <a href="{{ path('admin_category_index') }}" class='but'>Retour à la liste des catégories</a>
    </div>
{% endblock %}